/*Task -1 */
.outer-box{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    position: relative;
}
.inner-box{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    position: absolute;
    top: 60px;
    right: 60px;
}
/*  Task-2 */
.card{
   width: 200px;
   height: 200px;
   padding: 10px;
   border: 2px solid skyblue;
   position: relative; 
}
.icon{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* Task- 3 */
.tooltip-container{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid gray;
    position: relative;
}
.tooltip{
    border: 2px solid lightblue;
    position: absolute;
    top: 65px;
    left: 70px;
    text-align: center;
}
.button{
    width: 120px;
    height: 90px;
    border: 1.5px solid blue;
    position: relative;
    top: 80px;
    left: 40px;
}
/*  Task-4  */
.avatar-container{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid lightblue;
    position: relative;
}
.avatar{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    position:relative;
    top: 18px;
    left: 18px;
}
.badge{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    right: 39px;
    top: 29px;
}
/* task-5  */
.image-container{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid coral;
    position: relative;
}
.image{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    position: absolute;
    left: 30px;
    top: 30px;   
}
.overlay{
    text-align: center;
    font-weight: bold;
}